# Thanks to Alex for this more awesome way of ignoring useless stuff

# ignore all files by default
*

# do not ignore all C/++ files
!.cpp
!.c
!.hpp
!.h
!.in

# do not ignore certain files
!README.md
!CMakeLists.txt
!.gitignore
